# Virtual environment
venv/

# Environment variables
.env

# Phoenix data
phoenix_data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Pytest
.pytest_cache/

# Distribution
dist/
build/
*.egg-info/



# Downloaded ML models and cache
/models/
.cache/
.huggingface/

# Agent and Documentation stuff
.agents/
"FA docs/"
FA\ docs/

# Data and Papers
storage/
agentic-fitness-app/__pycache__/ai_core.cpython-312.pyc
/agentic-fitness-app/__pycache__
