llama-index
llama-index-core
llama-index-embeddings-huggingface
sentence-transformers
tiktoken
pdfplumber
scikit-learn
numpy
fastapi
uvicorn
llama-index-retrievers-bm25
rank-bm25
groq
llama-index-llms-groq
python-dotenv
pydantic-settings
